/* BIG NOTE ON RESPONSIVENESS.  WHEN SWITCHING TO SINGLE OR DOUBLE COLUMNS ON SMALLER SCREENS, YOU MUST CLEAR THE SPANS OR THE COLUMNS/ROWS MAY BE OFF */

/* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo-div {
  justify-self: center;
}

#main-nav .logo-div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
}

.cnt223 h1 {
  text-align: center;
}

.cnt223 p {
  padding-bottom: 0.5rem;
}

@media (max-width: 600px) {
  /* Stack Grid Items */
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > * {
    border-bottom: #555 dotted 1px;
    padding-bottom: 1rem;
  }

  #main-footer .footer-container > *:last-child,
  #main-footer .footer-container > *:nth-child(3),
  #main-footer .footer-container > *:nth-child(4) {
    border: none;
  }

  #main-footer .footer-container > *:first-child {
    padding-bottom: 1.5rem;
  }

  /* about page */

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .page-container > *:first-child {
    grid-row: 1;
  }

  .l-heading {
    font-size: 2rem;
  }

  .cnt223 {
    min-width: 350px;
    width: 350px;
    min-height: 70px;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0.3rem;
  }

  .cnt223 h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .cnt223 p {
    padding: 1rem;
  }
}
