:root {
  --primary-color: #bc1823;
  --secondary-color: #ffde32;
  --light-color: #dcdcdc;
  --dark-color: #36454f;
  --max-width: 1100px;
}

.category {
  --boxing-color: #f99500;
  --nba-color: #a66bbe;
  --nfl-color: #009cff;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.45rem;
  line-height: 2.2rem;
}

.titans {
  color: var(--primary-color);
}

.logo-text {
  font-size: 30px;
  margin: 0;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container .showcase-container .showcase-content .category {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-boxing {
  background: var(--boxing-color);
}
.category-nba {
  background: var(--nba-color);
}
.category-nfl {
  background: var(--nfl-color);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.card {
  background: #fff;
  padding: 1rem;
}

.card .category-nfl {
  margin-top: 0.5rem;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 1.5rem;
}

.l-heading {
  font-size: 3rem;
  padding: 0.5rem 0;
  line-height: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background: #fff;
  /* position is sticky so the nav will stay on top */
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .logo-div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#main-nav .container {
  /* sets logo, social icons, and ul all grid items */
  display: grid;
  /* sets fractions for how much each column takes up */
  grid-template-columns: 1fr 5fr 3fr 1fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 65px;
}

#main-nav ul {
  /* align to the end */
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

/* target the current link */
#main-nav ul li a.current {
  background: var(--primary-color);
  /* f5f5f5 is an off white */
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  /* use justify self when just aligning 1 item.  justify-content when targetting the parent to justify its content */
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}

/* This adds the overlay on the showcase */
#showcase:before {
  content: "";
  background: url("../img/articles/kobeGym.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* resizes and aligns the showcase */
#showcase .showcase-container {
  display: grid;
  /* This makes a two column grid with 1 empty column to the left */
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* brings text on top of overlay */
#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  /* sets 3 equal rows */
  grid-template-columns: repeat(3, 1fr);
  /* spaces out the grid items */
  grid-gap: 1rem;
}

/* any element after the articles-container (> means direct child */
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  /* 2 equal columns */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  /* will take column 2 and span it 2 columns */
  align-items: center;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  /* accesses last child of article-container and spans column 2, 2 columns */
  grid-column: 2 / span 2;
}

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: var(--dark-color);
  grid-column: 1 / span 4;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}

#main-footer > div > div > img {
  height: 100%;
  width: 100%;
}

/* pop up box */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}
.cnt223 a {
  text-decoration: none;
}
.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}
.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}
.cnt223 p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}
body > div.popup > div > p > a {
  color: #d91900;
  font-weight: bold;
}
.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}
.cnt223 .x:hover {
  cursor: pointer;
}
